#Phiên bản restnet50 này không pretrain với dataset hiện tại
# Lần chạy kể từ sau lần họp ngày thứ 6, 6/2/2026 với những thay đổi:
# learning rate config 0.001
# Thêm tham số max_samples_per_class = 500 vào tập train (tránh bị mất cân bằng data)

train_dataset: image-folder-crop
train_dataset_args:
    root_path: /content/data/tlu-states/images
    split_file: /content/data/split.json
    split: train
    augment: True
    image_size: 224
    max_samples_per_class: 200

tval_dataset: image-folder-crop
tval_dataset_args:
    root_path: /content/data/tlu-states/images
    split_file: /content/data/split.json
    split: test
    augment: False
    image_size: 224

val_dataset: image-folder-crop
val_dataset_args:
    root_path: /content/data/tlu-states/images
    split_file: /content/data/split.json
    split: val
    augment: False
    image_size: 224

model: gnn
model_args: 
    encoder: resnet50
    encoder_args: 
        pretrained: True
        image_size: 224
# scan checkpoint if needed, otherwise rely on torchvision pre-trained
# load_encoder: /content/drive/MyDrive/Do_an_Data/Backbone/Restnet12V00/max-va.pth

n_way: 5
n_shot: 1
n_query: 15
train_batches: 20
test_batches: 20
ep_per_batch: 1

max_epoch: 20 # Adjusted for smaller dataset/testing first
optimizer: adam
optimizer_args: {lr: 0.001, weight_decay: 1.e-5}

visualize_datasets: False


#Test config 9-10 tháng 2 2026
#Phiên bản restnet50 này không pretrain với dataset hiện tại
# Lần chạy kể từ sau lần họp ngày thứ 6, 6/2/2026 với những thay đổi:
# learning rate config 0.001
# Thêm tham số max_samples_per_class = 100 vào tập train (tránh bị mất cân bằng data)

# train_dataset: image-folder-crop
# train_dataset_args:
#     root_path: /content/data/tlu-states/images
#     split_file: /content/data/split.json
#     split: train
#     augment: True
#     image_size: 224
#     max_samples_per_class: 100

# tval_dataset: image-folder-crop
# tval_dataset_args:
#     root_path: /content/data/tlu-states/images
#     split_file: /content/data/split.json
#     split: test
#     augment: False
#     image_size: 224

# val_dataset: image-folder-crop
# val_dataset_args:
#     root_path: /content/data/tlu-states/images
#     split_file: /content/data/split.json
#     split: val
#     augment: False
#     image_size: 224

# model: gnn
# model_args: 
#     encoder: resnet50
#     encoder_args: 
#         pretrained: True
#         image_size: 224
# # scan checkpoint if needed, otherwise rely on torchvision pre-trained
# # load_encoder: /content/drive/MyDrive/Do_an_Data/Backbone/Restnet12V00/max-va.pth

# n_way: 5
# n_shot: 1
# n_query: 15
# train_batches: 100
# test_batches: 5
# ep_per_batch: 1

# max_epoch: 20 # Adjusted for smaller dataset/testing first
# optimizer: adam
# optimizer_args: {lr: 0.0001, weight_decay: 1.e-5}

# visualize_datasets: False
