train_dataset: image-folder-custom
train_dataset_args:
    root_path: /content/drive/MyDrive/Do_an_Data/tlu-states/images
    split_file: /content/drive/MyDrive/Do_an_Data/split.json
    split: train
    augment: True
    image_size: 84

tval_dataset: image-folder-custom
tval_dataset_args:
    root_path: /content/drive/MyDrive/Do_an_Data/tlu-states/images
    split_file: /content/drive/MyDrive/Do_an_Data/split.json
    split: test
    augment: False
    image_size: 84

val_dataset: image-folder-custom
val_dataset_args:
    root_path: /content/drive/MyDrive/Do_an_Data/tlu-states/images
    split_file: /content/drive/MyDrive/Do_an_Data/split.json
    split: val
    augment: False
    image_size: 84

model: gnn
model_args: 
    encoder: resnet50
    encoder_args: 
        pretrained: True
        image_size: 224
# scan checkpoint if needed, otherwise rely on torchvision pre-trained
# load_encoder: /content/drive/MyDrive/Do_an_Data/Backbone/Restnet12V00/max-va.pth

n_way: 5
n_shot: 1
n_query: 15
train_batches: 20
test_batches: 20
ep_per_batch: 2

max_epoch: 100 # Adjusted for smaller dataset/testing first
optimizer: adam
optimizer_args: {lr: 0.0001, weight_decay: 1.e-5}

visualize_datasets: False
